
<p>
  <strong>Name:</strong>
  <%= @volunteer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @volunteer.email %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @volunteer.availability %>
</p>

<p>
  <strong>Preferred task:</strong>
  <%= @volunteer.preferred_task %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
